spring:
  application:
    name: common-service

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}
    consumer:
      group-id: ${KAFKA_GROUP_ID:default-group}

  mail:
    host: smtp.gmail.com
    port: 587
    username: hogphat1607@gmail.com
    password: qpfmilrxltrdorhr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        transport:
          protocol: smtp